In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from scipy import optimize
from ipywidgets import *
from IPython.display import SVG
from sklearn import datasets

C:\Users\Kishan\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [55]:
AND = pd.DataFrame({'x1': (0,0,1,1), 'x2': (0,1,0,1), 'y': (0,0,0,1)})
AND

   x1  x2  y
0   0   0  0
1   0   1  0
2   1   0  0
3   1   1  1

In [56]:
w=np.random.randn(3)*1e-4
w

array([-7.63136003e-05,  6.03245111e-05,  4.62276575e-05])

In [57]:
g= lambda inputs,weight : np.where(np.dot(inputs,weight)>0,1,0)

In [58]:
inputs=AND[['x1','x2']]
targets=AND["y"]

In [59]:
activation=g(np.c_[inputs,-np.ones((len(inputs),1))],w)
activation.shape
targets.shape

(4,)

In [60]:
input1=np.c_[inputs,-np.ones((len(inputs),1))]
input1.shape
w.T.shape

(3,)

In [67]:
#Training Function

def train(inputs, targets, weights, lr, n_iterations):
      # Add the inputs that match the bias node
        inputs=np.c_[inputs,-np.ones((len(inputs),1))]#np,c_ is like np.hstack
        
        for n in range(n_iterations):
            print(f"iteration {n}")
            print(inputs)
            activation=g(inputs,weights)
            print(f"output: {activation}")
            weights -= lr * np.dot(np.transpose(inputs),activation-targets)
            print(weights)
        return weights

In [68]:
train(inputs,targets,w,0.001,10)

iteration 0
[[ 1.  1. -1.]
 [ 2.  2. -1.]
 [ 3.  3. -1.]
 [ 4.  5. -1.]]
output: [1 1 1 1]
[-0.00207631 -0.00393968  0.00304623]
iteration 1
[[ 1.  1. -1.]
 [ 2.  2. -1.]
 [ 3.  3. -1.]
 [ 4.  5. -1.]]
output: [0 0 0 0]
[3.92368640e-03 2.06032451e-03 4.62276575e-05]
iteration 2
[[ 1.  1. -1.]
 [ 2.  2. -1.]
 [ 3.  3. -1.]
 [ 4.  5. -1.]]
output: [1 1 1 1]
[-7.63136003e-05 -2.93967549e-03  1.04622766e-03]
iteration 3
[[ 1.  1. -1.]
 [ 2.  2. -1.]
 [ 3.  3. -1.]
 [ 4.  5. -1.]]
output: [0 0 0 0]
[ 0.00592369  0.00306032 -0.00195377]
iteration 4
[[ 1.  1. -1.]
 [ 2.  2. -1.]
 [ 3.  3. -1.]
 [ 4.  5. -1.]]
output: [1 1 1 1]
[ 0.00192369 -0.00193968 -0.00095377]
iteration 5
[[ 1.  1. -1.]
 [ 2.  2. -1.]
 [ 3.  3. -1.]
 [ 4.  5. -1.]]
output: [1 1 1 0]
[ 0.00192369 -0.00193968 -0.00095377]
iteration 6
[[ 1.  1. -1.]
 [ 2.  2. -1.]
 [ 3.  3. -1.]
 [ 4.  5. -1.]]
output: [1 1 1 0]
[ 0.00192369 -0.00193968 -0.00095377]
iteration 7
[[ 1.  1. -1.]
 [ 2.  2. -1.]
 [ 3.  3. -1.]
 [ 4.  5. -1.]]
output: [1 1 1 0]
[ 0.00192369 -0.00193968 -0.00095377]
iteration 8
[[ 1.  1. -1.]
 [ 2.  2. -1.]
 [ 3.  3. -1.]
 [ 4.  5. -1.]]
output: [1 1 1 0]
[ 0.00192369 -0.00193968 -0.00095377]
iteration 9
[[ 1.  1. -1.]
 [ 2.  2. -1.]
 [ 3.  3. -1.]
 [ 4.  5. -1.]]
output: [1 1 1 0]
[ 0.00192369 -0.00193968 -0.00095377]

array([ 0.00192369, -0.00193968, -0.00095377])

In [65]:
data = pd.DataFrame({'x1': (1,2,3,4), 'x2': (1,2,3,5), 'y': (1,1,1,0)})
data

   x1  x2  y
0   1   1  1
1   2   2  1
2   3   3  1
3   4   5  0

In [66]:
inputs=data[['x1','x2']]
targets=data["y"]